@import url(reset.css);

:root {
    --pink: #F8BFC7;
    --red: #E50043;
    --white: white;
}

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.page {
    width: 144rem;
 }

.header {
    position: fixed;
    top: 0;
    height: 14rem;
    width: inherit;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.header-text-p, .header-text-l {
    color: var(--red);
    text-decoration: none;
    line-height: 5.7rem;
    font-size: 5rem;
    font-family: Arial, sans-serif;
}

.header-text-p {
    position: absolute;
    left: 5rem;
}

.link-container {
    position: absolute;
    right: 5rem;
    display: flex;
    align-items: center;
}

.l1, .l2 {
    padding-right: 3rem;
}

.hero {
    height: 95rem;
    margin: 14rem 0 0 0;
    background-image: url(../img/evian_logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    line-height: 11.5rem;
    font-size: 10rem;
    font-family: Arial, sans-serif;
    color: var(--red);
}

.description {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 15rem 0 15rem 0;
}

.descr-container {
    width: 104rem;
    padding: 2.4rem;
    border: 0.3rem solid var(--pink);
    border-radius: 2rem;
    line-height: 2.9rem;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

h2, ul {
    padding: 0 0 4rem 0;
}

.pics {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.pics-img {
    padding: 0 0 4.8rem 0;
}

.pics-text {
    text-align: center;
    line-height: 2.9rem;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

.pic1, .pic2 {
    padding: 0 10rem 0 0;
}

.about {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 15rem 0 15rem 0;
}

.about-container {
    width: 104rem;
    padding: 3rem 3rem 3rem 8rem;
    border: 0.3rem solid var(--pink);
    border-radius: 2rem;
    line-height: 2.9rem;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    padding: 0 8rem 0 0;
}

.footer {
    position: relative;
    height: 140px;
    width: inherit;
    background-color: var(--pink);
    line-height: 5.7rem;
    font-size: 5rem;
    font-family: Arial, sans-serif;
    color: var(--white);
    display: flex;
    align-items: center;
} 

.footer-text {
    position: absolute;
    left: 5rem;
}
