
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #FE1A19;
    --white: white;
    --yellow: #E5E000;
    --bold: bold;
    --normal: normal;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 2.3rem;
    font-size: 2rem;
}

.page {
    width: 144rem;
}

.header, .footer {
    position: relative;
    height: 6rem;
    background-color: var(--red);
}

h1, .copyright, .back {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--white);
}

h1 {
    padding-left: 2rem;
    padding-top: 2rem;
}

.content {
    text-align: center;
}

.column {
    width: 40rem;
    margin: 5.2rem 0;
    padding: 3.3rem;
    border: 0.5rem solid var(--yellow);
    border-radius: 3rem;
    text-align: left;
    font-family: 'Times New Roman';
    display: inline-block;
    margin-left: -0.5rem;
}

.tart1, .tart2 {
    margin-right: 4.5rem;
}

h2 {
    margin-bottom: 4.1rem;  
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: var(--bold);
}

h3 {
    font-family: 'Times New Roman';
    font-size: 2rem;
    font-weight: var(--normal);
}

.ul-margin {
    margin-bottom: 3.3rem;
}

li {
    list-style-type: none;
}

.copyright {
    position: absolute;
    left: 2rem;
    top: 2rem;
    bottom: 2rem;
}

.back {
    position: absolute;
    text-decoration: none;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
}