
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    line-height: 2.3rem;
    font-size: 2rem;
}

.page {
    width: 144rem;
}

.header, .footer {
    position: relative;
    height: 6rem;
    background-color: #FE1A19;
}

h1, .copyright, .back {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

h1 {
    padding-left: 2rem;
    padding-top: 2rem;
}

.content {
    text-align: center;
}

.column {
    width: 40rem;
    margin: 5.2rem 0;
    border: 0.5rem solid #E5E000;
    border-radius: 3rem;
    text-align: left;
    font-family: 'Times New Roman';
    display: inline-block;
    margin-left: -0.5rem;
}

.tart1, .tart2 {
    margin-right: 4.5rem;
}

h2 {
    margin: 3.3rem 3.3rem 0.8rem;  
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: 'Times New Roman';
    font-size: 2rem;
    font-weight: normal;
}

.main-text {
    padding: 3.3rem;
}

.ul-margin {
    margin-bottom: 3.3rem;
}

li {
    list-style-type: none;
}

.copyright {
    position: absolute;
    left: 2rem;
    top: 2rem;
    bottom: 2rem;
}

.back {
    position: absolute;
    text-decoration: none;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
}